---
# tasks file for ansible-role-git-lfs

- name: Include OS specific variables.
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_os_family }}.yml"
        - main.yml
      paths:
        - 'vars'

- name: Install Git LFS
  ansible.builtin.include_tasks: "setup-{{ ansible_system }}.yml"
