---
- name: FreeBSD | Install Git LFS
  ansible.builtin.package:
    name: "{{ git_lfs_package }}"
    state: present

- name: FreeBSD | Check Git LFS initialization
  community.general.git_config:
    list_all: true
    scope: global
  register: git_global_config

- name: FreeBSD | Setup Git LFS
  ansible.builtin.command: git lfs install
  when: "'filter.lfs.required' not in git_global_config.config_values"
