---
- name: Gentoo | Sync repositories
  community.general.portage:
    sync: web
  when: ansible_os_family == "Gentoo"

- name: Linux | Install package requirements
  ansible.builtin.package:
    name: "{{ package_requirements }}"
    state: present
  when: package_requirements is defined

- name: Debian/Ubuntu | Git LFS APT key
  ansible.builtin.apt_key:
    url: https://packagecloud.io/github/git-lfs/gpgkey
    state: present
  when: ansible_pkg_mgr == "apt"

- name: Debian/Ubuntu | Git LFS APT repository
  ansible.builtin.apt_repository:
    filename: github_git-lfs
    repo: "deb https://packagecloud.io/github/git-lfs/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main"
    state: present
  when: ansible_pkg_mgr == "apt"

- name: Debian/Ubuntu | Git LFS SRC repository
  ansible.builtin.apt_repository:
    filename: github_git-lfs
    repo: "deb-src https://packagecloud.io/github/git-lfs/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main"
    state: present
  when: ansible_pkg_mgr == "apt"

- name: Amazonlinux | Install epel repository
  ansible.builtin.command: amazon-linux-extras install -y epel
  args:
    creates: /etc/yum.repos.d/epel.repo
  when:
    - ansible_distribution == "Amazon"
    - ansible_distribution_major_version == "2"

- name: RedHat | Git LFS RPM repository
  ansible.builtin.yum_repository:
    name: github_git-lfs
    description: github_git-lfs
    baseurl: "https://packagecloud.io/github/git-lfs/el/{{ ansible_distribution_major_version }}/$basearch"
    gpgkey: https://packagecloud.io/github/git-lfs/gpgkey
    gpgcheck: no
    repo_gpgcheck: yes
    sslverify: yes
    sslcacert: "/etc/pki/tls/certs/ca-bundle.crt"
    metadata_expire: "300"
    enabled: yes
    state: present
  notify: RedHat | yum makecache
  when:
    - ansible_os_family == "RedHat"
    - ansible_distribution != "Amazon"

- name: Linux | Flush handler
  ansible.builtin.meta: flush_handlers

- name: Linux | Install Git LFS
  ansible.builtin.package:
    name: "{{ git_lfs_package }}"
    state: present

- name: Linux | Check Git LFS initialization
  community.general.git_config:
    list_all: true
    scope: global
  register: git_global_config

- name: Linux | Setup Git LFS
  ansible.builtin.command: git lfs install
  when: "'filter.lfs.required' not in git_global_config.config_values"
