---
- name: Darwin | Install Git LFS
  homebrew:
    name: "{{ git_lfs_package }}"
    update_homebrew: yes
    state: present

- name: Darwin | Check Git LFS initialization
  community.general.git_config_info:
    scope: global
  register: git_global_config

- name: Darwin | Setup Git LFS
  command: git lfs install
  when: "'filter.lfs.required' not in git_global_config.config_values"
