---
- name: OpenBSD | Install Git LFS
  package:
    name: "{{ git_lfs_package }}"
    state: present

- name: OpenBSD | Check Git LFS initialization
  community.general.git_config_info:
    scope: global
  register: git_global_config

- name: OpenBSD | Setup Git LFS
  command: git lfs install
  when: "'filter.lfs.required' not in git_global_config.config_values"
