---
- name: Windows | Get the latest version of Git LFS
  ansible.windows.win_uri:
    url: https://api.github.com/repos/git-lfs/git-lfs/releases/latest
    return_content: yes
  register: git_lfs_version

- name: Windows | Get git lfs latest version
  ansible.builtin.set_fact:
    git_lfs_latest_version: "{{ git_lfs_version['json']['tag_name'] }}"

- name: Windows | Download Git LFS
  ansible.windows.win_get_url:
    url: "https://github.com/git-lfs/git-lfs/releases/download/{{ git_lfs_latest_version }}/git-lfs-windows-{{ git_lfs_latest_version }}.exe"
    dest: '{{ ansible_env.TEMP }}\git-lfs-installer.exe'

# Currently win_package is not idempotent with git-lfs.exe
- name: Windows | Check Git LFS installation
  ansible.windows.win_command: git lfs env
  ignore_errors: yes
  changed_when: false
  failed_when: false
  register: git_config_install

- name: Windows | Install Git LFS
  ansible.windows.win_package:
    path: '{{ ansible_env.TEMP }}\git-lfs-installer.exe'
    product_id: git-lfs
    arguments: '/verysilent /suppressmsgboxes /norestart'
    state: present
  when: git_config_install.rc != 0

- name: Windows | Check Git LFS initialization
  ansible.windows.win_command: git config --global --list
  ignore_errors: yes
  changed_when: false
  failed_when: false
  register: git_global_config

- name: Windows | Setup Git LFS
  ansible.windows.win_command: git lfs install
  when: "'filter.lfs.required' not in git_global_config.stdout_lines | join(' ')"
